// mixins para imagenes de la pagina

#carousel_samples {
    margin-bottom: 4rem;
    margin-top: 4rem;
    
    & .carousel_samples_img {
        margin: auto;
        width: 920px;
        
        & img {
            width: 100%;
            height: 600px;
            border-radius: 20px;
        }
    }
}
